
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Seleção de bolsistas</title>
    <link rel="shortcut icon" href="/public/images/SSB-icone2.png">

  <!-- Custom fonts for this template-->
  <link href="@{'/public/sb-admin/vendor/fontawesome-free/css/all.min.css'}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="@{'/public/sb-admin/css/sb-admin-2.min.css'}" rel="stylesheet">
  <style>
  	.back-color {
  	background-color: #4a5ce0;
  	color: white;
  	}
  	
  	.text-style {
  		padding-top: 90px;
  		padding-right: 0px;
  		text-align: left;
  		font-family: 'Roboto Condensed', sans-serif;
  		font-size: 38px;
  		
  		
  	}
  	.text-valid {
  		font-size: 15px;
  		color: red;
  	}
  	
  	.font-text {
  		font-family: 'Roboto Condensed', sans-serif;
  	}
  	
  	.font-preta {
  		color: black;
  	}
  	.font-peq {
  		font-size: 15px;
  	}
  	
  	.afastar-esquerda {
		padding-left: 60px;  	
  	}
  	
  	.afastar-pouco {
  		padding-left: 30px;
  	}
  	
  	.afastar-direita {
  		padding-right: 20px;
  	}
  	
  	.aumentar-tamanho {
  		font-size: 40px;
  	
  	}
  	
  	.icone-grande {
  		font-size: 120px;
  	}
  	
  	.afastar-cima {
  		padding-top: 120px;
  	}
  	
  	.font-size-menu {
  		font-size: 22px;
  	
  	}
  	
  	.font-color-home {
  		color: black;
  	
  	}
  	.text-afastar {
		padding-right: 5px;  	
  	}
  	
  	.input-size {
  		size: 10px;
  	}
  	
  	.font-tit {
  		font-size: 20px;
  	}
  
  </style>

	#{get 'moreStyles' /}
	
</head>

<body id="page-top">



  <!-- Page Wrapper -->
  <div id="wrapper">
  
  

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-id-card"></i>
        </div>
        <div class="sidebar-brand-text mx-3 font-text font-size-menu"> Seleção de bolsistas</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="@{Application.inicio_aluno}">
          <i class="fas fa-fw fa-home"></i>
          <span>Início</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Opções
      </div>

      <!-- Nav Item - Pages Collapse Menu -->

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-user"></i>
          <span>Minha página</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Escolha:</h6>
            <a class="collapse-item" href="@{Alunos.dados_pessoais}">Dados pessoais</a>
            <a class="collapse-item" href="@{Alunos.situacao}">Situação</a>
          <!--   <a class="collapse-item" href="@{Administradores.listar}">Formulário de cadastro</a> -->
        

          </div>
        </div>
      </li>
     

       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-book"></i>
          <span>Bolsas</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Escolha:</h6>
            <a class="collapse-item" href="@{Alunos.listar_para_alunos}">Listar bolsas</a>
            <a class="collapse-item" href="@{Alunos.form2}">Inscrição no processo</a>
            <a class="collapse-item" href="@{Alunos.formAnalise}">Formulário de análise</a>
          </div>
        </div>
      </li>
      
      



  

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    
       
        
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
        

          <!-- Topbar Navbar -->
             <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> ${session.get('aluno.nome')}</span>
                <img  class="img-profile rounded-circle" src='${session.get("aluno.foto")}'></img>
      
            <!--    <img class="img-profile rounded-circle" src="${session.get("adm.url_foto_75x100")}"> -->
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">	
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
              
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Sair
                </a>
              </div>
            </li>
            </ul>

          

            <!-- Nav Item - Alerts -->
           

        </nav>
          
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
        

           #{doLayout /}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Sistema Seleção de Bolsistas 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pronto para sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecione a opção sair se você está pronto para deslogar da sessão:</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-success" href="/Sistema/logout">Sair</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="@{'/public/sb-admin/vendor/jquery/jquery.min.js'}"></script>
  <script src="@{'/public/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>

  <!-- Core plugin JavaScript-->
  <script src="@{'/public/sb-admin/vendor/jquery-easing/jquery.easing.min.js'}"></script>

  <!-- Custom scripts for all pages-->
  <script src="@{'/public/sb-admin/js/sb-admin-2.min.js'}"></script>

  <!-- Page level plugins -->
  <script src="@{'/public/sb-admin/vendor/chart.js/Chart.min.js'}"></script>

  <!-- Page level custom scripts -->
  <script src="@{'/public/sb-admin/js/demo/chart-area-demo.js'}"></script>
  <script src="@{'/public/sb-admin/js/demo/chart-pie-demo.js'}"></script>
	#{get 'moreScripts' /}
</body>

</html>
